.chapter_title {
    margin: 1.25rem 0 0.625rem;
}

.chapter_subtitle {
    font-size: 12px;
}

.chapter_content {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter_text {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 15px;
    font-family: "Imprima";
    font-size: 15px;
    line-height: 25px;

    /*  
    font-family: "Hind Siliguri";
    font-family: "Molengo";
    font-family: "Source Sans 3", sans-serif;
    font-family: "Overpass";
    font-family: "Imprima";
    

    */
}