/* VARIÁVEIS E RESETS */

:root {
    --vermelho: #EC1C24;
    --rosa: #F26DAB;
    --azul: #3DD1F2;
    --preto: #33332F;
    --branco: #f6f6f6;
    --font-text: "Source Sans 3";
    --font-titulos: "Alegreya", serif;
    --font-size: 0.9375rem;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6, p  {
    font-weight: normal;
    font-size: var(--font-size); 
    color: var(--preto);
    font-family: var(--font-text);
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: var(--preto);
}

li {
    list-style: none;
}

body {
    background-color: var(--branco);
}

::selection {
    background: var(--rosa); 
    color: var(--branco);
}


.page {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 1.5625rem;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    overflow-y: auto;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

@media (max-width: 480px) {
    .page {
      max-width: 100%; 
      padding: 1.5625rem; 
    }
  }
  
@media (min-width: 481px) {
    .page {
      max-width: 400px; 
    }
  }

/* INFOS1::FOLHA DE ROSTO*/

.info {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.info_nome_autor {
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.info_titulo_livro {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 0 3rem;
}



/* INFOS2::LEWIS CARROLL */

.autor_intro {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.autor_nome {
    position: fixed;
    font-weight: bold;
    font-size: 2rem;
    bottom: 9.375rem;
}

.autor_foto {
    position: absolute; /* Ou fixed para manter o elemento fixo ao rolar a página */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CRÉDITOS */

.credits {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cabeco_creditos {
    margin-bottom: 40px;
}

.credits_text {
    text-align: left;
    margin-bottom: 0.5rem;
    line-height: 1.5625rem;
    padding: 0 3rem;
}

.credits_logo_editora {
    margin: 1.25rem 0;
}

/* SUMÁRIO */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_topico {
    font-weight: bold;
    text-align: center;
    border-bottom: 0.125rem solid var(--preto); 
    color: var(--preto);
}

.lista-item, .menu_topico {
    font-size: var(--font-size);
    font-family: var(--font-text);
    background-color: transparent;
    text-align: left;
}

.menu_tabela {
    width: 100%;
    border-collapse: collapse; 
    border: 0.0625rem solid var(--preto); 
    margin-top: 1.25rem;
    overflow: hidden;
  }
  
  .menu_tabela td {
    border: 0.0625rem solid var(--preto); 
    padding: 0.5rem; 
  }
  
 .lista_topico {
    text-align: center;
 }


/* CAPÍTULOS */

.chapter_page {
    margin-top: -1rem;
}

.chapter_subtitle {
    font-size: 0.75rem;
    margin-top: 1.25rem;
}

.chapter_title {
    font-family: var(--font-titulos);
    margin: 1.25rem 0 0;
    font-weight: bold;
    font-size: 1.5625rem;
    color: var(--preto)
}

.chapter_img_abertura {
    margin: 20px 0 0;
}

.chapter_content {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter_text {
    color: var(--preto);
    text-align: justify;
    margin-bottom: 0.625rem;
    text-indent: 0.9375rem;
    font-family: var(--font-text);
    font-size: var(--font-size);
    line-height: 1.5625rem;
}

  /* MENU */

  .navigation {
    position: fixed;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.navigation button {
    background-color: var(--preto);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation button img {
    width: 14px;
}