/* VARIÁVEIS E RESETS */

:root {
    --vermelho-escuro-color: #A50000;
    --vermelho-vivo-color: #d50032;
    --vermelho-mate-color: #c72c41;
    --preto: #33332F;
    --branco: #f6f6f6;
    --font-text: "Source Sans 3";
    --font-size: 0.9375rem;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6, p  {
    font-weight: normal;
    font-size: var(--font-size); 
    color: var(--preto);
    font-family: var(--font-text);
}

a, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: var(--preto);
}

li {
    list-style: none;
}

body {
    background-color: var(--branco);
}

.page {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 1.5625rem;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    overflow-y: auto;
    margin-bottom: 4rem;
}

/* Para telas menores, como celulares */
@media (max-width: 480px) {
    .page {
      max-width: 100%; 
      padding: 1.5625rem; 
    }
  }
  
  /* Para tablets e computadores */
  @media (min-width: 481px) {
    .page {
      max-width: 400px; 
    }
  }


/* INFOS1 */

.info {
    margin-top: 1.875rem;
}

.info_nome_autor {
    font-weight: bold;
    text-transform: uppercase;
}

.info_titulo_livro {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 2.5rem 1.25rem;

}




/* CRÉDITOS */

.credits {
    margin-top: 1.875rem;
}

.produtor_titulo, .agradecimentos_titulo {
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
}

.produtor_nome, .agradecimentos_nome p {
    font-weight: bold;
    text-transform: uppercase;
}

.credits_text {
    text-align: justify;
    margin: 1.25rem 0;
    line-height: 1.5625rem;
    padding: 0 1.25rem;
}

.credits_logo_editora {
    margin-bottom: 1.25rem;
}

.agradecimentos_nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    text-transform: uppercase;
}












/* CAPÍTULOS */

.chapter_title {
    margin: 1.25rem 0 0.625rem;
}

.chapter_subtitle {
    font-size: 12px;
}

.chapter_content {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter_text {
    color: var(--preto);
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 15px;
    font-family: var(--font-text);
    font-size: var(--font-size);
    line-height: 1.5625rem;
}





  /* MENU */

  .navigation {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
    background-color: var(--preto);
}

.navigation button {
    background-color: transparent;
}